body {
    background-color: pink;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    margin: 0;
}

header {
    position: relative;
    padding-top: 1.25rem;
    background-color: white;
    
    .nav-bar {
        // padding: 20px 0 0;
        
        .main-nav-logo {
            display: inline-block;
            width: 3.75em;
            height: 1.75em;
            position: relative;
            margin-right: 2em;
            margin-left: 1.25rem;
            // margin-bottom: 1.25rem;
        }
        
        .main-nav-menu {
            display: inline-block;
            font-size: 1.25rem;
            vertical-align: middle;
            margin-bottom: .9375rem;
        }

        .menu-separator {
            display: block;
            height: 0;
            border-top: 2px solid #eee;
        }
    }
    
    .menu-list {
        // margin-bottom: 1.25rem;
        // margin-right: 2em;
        padding: 17px 20px 15px;
        
        a {
            font-size: .875rem;
            margin-right: 15px;
            color: black;
            text-decoration: none;
        }
    
        a:active {
            color: #ff764d;
        }
    }


}