body {
  background-color: pink;
  font-family: futura-pt, sans-serif;
  margin: 0;
}

header {
  position: relative;
  padding-top: 1.25rem;
  background-color: white;
}

header .nav-bar .main-nav-logo {
  display: inline-block;
  width: 3.75em;
  height: 1.75em;
  position: relative;
  margin-right: 2em;
  margin-left: 1.25rem;
}

header .nav-bar .main-nav-menu {
  display: inline-block;
  font-size: 1.25rem;
  vertical-align: middle;
  margin-bottom: .9375rem;
}

header .nav-bar .menu-separator {
  display: block;
  height: 0;
  border-top: 2px solid #eee;
}

header .menu-list {
  padding: 17px 20px 15px;
}

header .menu-list a {
  font-size: .875rem;
  margin-right: 15px;
  color: black;
  text-decoration: none;
}

header .menu-list a:active {
  color: #ff764d;
}

section {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 8vw;
}

section .hero-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=3&fit=crop&fm=jpg&h=692&ixjsv=1.1.3&q=33&w=313);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .ableton-logo {
  width: 215px;
  height: 52px;
}

section h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.7em;
  font-weight: 500;
}

section p {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.collage-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 8vh;
  margin-top: 5vh;
}

.collage-1 .img1-1 {
  display: inline-block;
  margin-left: 8vw;
  width: 41vw;
  height: 41vw;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-1.jpg?dpr=3&fit=crop&h=353&ixjsv=1.1.3&q=33&w=353);
  z-index: 1;
}

.collage-1 .img1-2 {
  position: relative;
  margin-left: 8vw;
  display: inline-block;
  width: 33vw;
  height: 25vw;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-2.jpg?dpr=3&fit=crop&h=211&ixjsv=1.1.3&q=33&w=282);
  z-index: 1;
}

.bg-lemon {
  background-color: #FBFFA7;
  width: 58vw;
  height: 58vw;
  left: 41vw;
  position: absolute;
  display: block;
  top: 1;
  z-index: 0;
}

.vid-img {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.vid-img > img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-footer {
  font-size: .875rem;
  line-height: 1.5;
  margin-top: 0.5em;
  font-weight: 500;
}

.collage-2 {
  margin-bottom: 8.3vw;
}

.collage-2 .col2-left {
  height: 80%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  vertical-align: middle;
  display: inline-block;
  padding-top: 8.3vw;
}

.collage-2 .col2-left .img2-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-3.jpg?dpr=3&fit=crop&h=196&ixjsv=1.1.3&q=33&w=261);
  width: 33vw;
  height: 25vw;
  position: relative;
  z-index: 1;
}

.collage-2 .col2-left .img2-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-4.jpg?dpr=3&fit=crop&h=195&ixjsv=1.1.3&q=33&w=261);
  width: 33vw;
  height: 25vw;
  margin-top: 8.3vw;
  position: relative;
  z-index: 1;
}

.collage-2 .img2-3 {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-5.jpg?dpr=3&fit=crop&h=326&ixjsv=1.1.3&q=33&w=326);
  width: 41vw;
  height: 41vw;
  margin-left: 8.3vw;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

.bg-green {
  background-color: #B6FFC0;
  left: 0;
  position: absolute;
  z-index: 0;
  width: 58.33333vw;
  height: 75vw;
}

.img-section {
  width: auto;
}

.img-section > img {
  height: auto;
  max-width: 100%;
  border: 0;
}

.collage-3 {
  padding-top: 8.3vw;
  padding-bottom: 8.3vw;
}

.collage-3 .img3-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=3&fit=crop&h=94&ixjsv=1.1.3&q=33&w=125);
  width: 33vw;
  height: 25vw;
  margin-top: 8.3vw;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.collage-3 .img3-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(https://ableton-production.imgix.net/about/photo-7.jpg?dpr=3&fit=crop&h=156&ixjsv=1.1.3&q=33&w=156);
  width: 40vw;
  height: 40vw;
  margin-left: 10vw;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  margin-top: 8.3vw;
}

.bg-purple {
  background-color: #D5B3FF;
  width: 66vw;
  height: 58vw;
  position: absolute;
  z-index: 0;
  margin-left: 8.3vw;
}
/*# sourceMappingURL=styles.css.map */